footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #574e4e;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: aliceblue;
}

#root {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px; 
}
